/* classi generiche */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

/* classi utility */
.white{
    color: white;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-15{
    margin: auto 15px;
}

.btn{
    background-color: transparent;
    border: 0;
}

.line{
    height: 3px;
    background-color: gray;
}

.width-line-1{
    width: 100px;
}

.width-line-2{
    width: 300px;
}

/****** FULL PAGE *****/
.full-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/****** MAIN ******/
main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: grey;
    display: flex;
}

/*** NAV ***/
nav{
    background-color: black;
    height: calc(100vh - 80px);
    width: 20%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

/* container-button */
.container-button{
    margin: 20px 0;
}

nav>img{
    width: 65%;
    margin-top: 15px;
}

.home .btn img,
.search .btn img,
.library .btn img{
    width: 25px;
}

nav button{
    text-align: start;
}

.home,
.search,
.library{
    display: flex;
    align-items: center;
    margin: 3px 0;
}

nav span{
    font-size: small;
}

/* playlist */

.playlist h4{
    font-size: 0.8rem;
}

.square{
    width: 30px;
    height: 30px;
    background-color: gray;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.square i{
    color: black;
    font-size: normal;
}

.playlist span{
    font-size: 1rem;
}

ul{
    list-style: none;
}

li{
    font-size: small;
    margin: 15px 0;
}

/*** HEADER ***/
header{
    background-color: yellow;
    width: 100%;
}




/****** FOOTER ******/
footer{
    height: 80px;
    width: 100%;
    background-color: rgba(15, 15, 14, 0.8);
    display: flex;
    justify-content: space-between;
}

/* footer-left */
.footer-left{
    display: flex;
    align-items: center;
}

.footer-left img{
    height: 60%;
    margin: auto 10px;
}

.footer-left>.text h4,
.footer-left>.text span{
   font-size: small;
}

.text{
    margin-right: 20px;
}

/* footer-right */
.footer-right{
    display: flex;
    align-items: center;
}

/* footer-center */
.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* footer center-top */
.footer-center .center-top i{
    font-size: 1.1rem;
}

#play{
    font-size: 1.8rem;
}

/* footer center-bottom */

.footer-center .center-bottom div{
    display: inline-block;
}

.footer-center .center-bottom span{
    font-size: x-small;
}




