/* classi generiche */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

/* classi utility */
.white{
    color: white;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-left-30{
    margin-left: 30px;
}

.margin-10{
    margin: auto 10px;
}

.btn{
    background-color: transparent;
    border: 0;
}

.line{
    height: 3px;
    background-color: gray;
}

.width-line-1{
    width: 80px;
}

.padding-left-10{
    padding-left: 10px;
}

.border-green-bottom{
    border-bottom: 3px solid yellowgreen;
}

.none{
    display: none;
}

.duration{
    width: 60%;
    flex-grow: 1;
    text-align: center;
}

.width-90{
    width: 90%;
}

/****** FULL PAGE *****/
.full-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/****** MAIN ******/
main{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

/*** NAV ***/
nav{
    background-color: black;
    height: calc(100vh - 80px);
    width: 220px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

/* container-button */
.container-button{
    margin: 20px 0;
}

nav>img{
    width: 140px;
    margin-top: 15px;
}

.home .btn img,
.search .btn img,
.library .btn img{
    width: 25px;
    opacity: 0.6;
}

nav button{
    text-align: start;
}

.home,
.search,
.library{
    display: flex;
    align-items: center;
    margin: 3px 0;
}

nav span{
    font-size: x-small;
}

/* playlist */
.playlist h4{
    font-size: 0.8rem;
}

.square{
    width: 30px;
    height: 30px;
    background-color: gray;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.square i{
    color: black;
}

.playlist span{
    font-size: small;
}

ul{
    list-style: none;
}

li{
    font-size: x-small;
    margin: 15px 0;
}

.playlist{
    overflow: auto;
}

/* profile */
.profile{
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-bottom: 3px;
}

.profile .install span{
    font-size: x-small;
}

.img-account{
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 1px;
    display: inline-block;
}

.img-account img{
    width: 16px
}

hr{
    margin: 10px 0;
}

.account>h2{
    display: inline-block;
    font-size: x-small;
    margin-left: 5px;
}

/*** MUSIC ***/
.music{
    flex-grow: 1;
    position: relative;
}

/* header */
.music header{
    background-color: rgb(15, 15, 15, 0.5);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.upgrade{
    text-align: end;
    line-height: 80px;
    vertical-align: middle;
}

.upgrade input{
    background-color: rgb(15, 15, 15);
    border-color: white;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 12px;
}

/* music-container */
.music-container{
    height: calc(100vh - 80px);
    width: 100%;
    padding-top: 90px;
    background-color: rgb(30, 30, 40);
    overflow-y: auto;
}

/* music-menu */
.music-menu{
    text-align: center;
}

.music-menu button{
    margin: 10px;
}

/* track */
.tracks{
    display: flex;
    flex-direction: column;
}

.tracks h2{
    font-size: 18px;
}

.tracks h4{
    margin-top: 10px;
}

.recently-played>h2{
    margin: 20px 0;
}

.create-for>p,
.most-popular>p{
    font-size: x-small;
    margin-bottom: 20px;
}

.container-cover{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-bottom: 20px;
}

.cover{
    height: 170px;
    width: 170px;  
}

.album{
    font-size: small;
    text-align: center;
    margin-bottom: 5px;
}

.album>h4{
    max-width: 170px;
}

#metallica{
    background-image: url(img/metal_lifting.jpg);
    background-size: cover;
}

#stranger{
    background-image: url(img/stranger.jpeg);
    background-size: cover;
}

#place{
    background-image: url(img/aquietplace.jpeg);
    background-size: cover;
}

#split{
    background-image: url(img/split.jpeg);
    background-size: cover;
}

#cure{
    background-image: url(img/cure.jpeg);
    background-size: cover;
}

#sinister{
    background-image: url(img/sinister.jpeg);
    background-size: cover;
}

#release{
    background-image: url(img/radar.jpeg);
    background-size: cover;
}

#daily{
    background-image: url(img/mixdaily.jpeg);
    background-size: cover;
}

#lana{
    background-image: url(img/youg.jpeg);
    background-size: cover;
    border-radius: 50%;
}

#ludovico{
    background-image: url(img/einaudi.jpeg);
    background-size: cover;
    border-radius: 50%;
}

/****** FOOTER ******/
footer{
    height: 80px;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.9);
    display: flex;
    justify-content: space-between;
}

/* footer-left */
.footer-left{
    display: flex;
    align-items: center;
}

.footer-left img{
    height: 60%;
    margin: auto 10px;
}

.footer-left>.text h4,
.footer-left>.text span{
   font-size: x-small;
}

.text{
    margin-right: 10px;
}

/* footer-right */
.footer-right{
    display: flex;
    align-items: center;
}

/* footer-center */
.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* footer center-top */
.footer-center .center-top i{
    font-size: 0.8rem;
}

#play{
    font-size: 1.5rem;
}

/* footer center-bottom */

.footer-center .center-bottom div{
    display: inline-block;
}

.footer-center .center-bottom span{
    font-size: x-small;
}

.center-bottom{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 80%;
}

/* effetti */
.upgrade input:hover{
    transform: scale(1.2);
}

.green-hover:hover{
    color: white;
    border-bottom: 3px solid yellowgreen;
}

.playlist li:hover{
    color: white;
}

.container-button .home:hover span,
.container-button .search:hover span,
.container-button .library:hover span{
    color: white;
}

.container-button .home:hover img,
.container-button .search:hover img,
.container-button .library:hover img{
    opacity: 1;
}

.container-button .home:hover,
.container-button .search:hover,
.container-button .library:hover{
    border-left: 3px solid yellowgreen;
}

.profile .install:hover i,
.profile .install:hover #app{
    color: white;
}

.playlist .plus:hover .square{
    background-color: white;
}

.playlist .plus:hover span{
    color: white;
}

.footer-left span:hover{
    text-decoration: underline;
    color: white;
}

.footer-left #heart:hover,
.footer-left #folder:hover{
    color: white;
}

.center-top #play:hover{
    transform: scale(1.1);
}

.album:hover #metallica,
.album:hover #stranger,
.album:hover #place,
.album:hover #split,
.album:hover #cure,
.album:hover #sinister,
.album:hover #release,
.album:hover #daily,
.album:hover #lana,
.album:hover #ludovico{
    opacity: 40%;
}

.none{
    font-size: 50px;
    line-height: 150px;
    vertical-align: middle;
    display: none;
}

.album:hover .none{
    display: inline;
}
