/* classi generiche */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* classi utility */
.gray{
    color: gray;
}

.white{
    color: white;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-15{
    margin: auto 15px;
}

.btn-footer{
    background-color: transparent;
    border: 0;
}

.line{
    height: 3px;
    background-color: gray;
}

.width-line-1{
    width: 100px;
}

.width-line-2{
    width: 300px;
}

/****** FULL PAGE *****/
.full-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/****** MAIN ******/
main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: grey;
}





/****** FOOTER ******/
footer{
    height: 80px;
    width: 100%;
    background-color: rgba(15, 15, 14, 0.8);
    display: flex;
    justify-content: space-between;
}

/* footer-left */
.footer-left{
    display: flex;
    align-items: center;
}

.footer-left img{
    height: 60%;
    margin: auto 10px;
}

.footer-left>.text h4,
.footer-left>.text span{
   font-size: small;
}

.text{
    margin-right: 20px;
}

/* footer-right */
.footer-right{
    display: flex;
    align-items: center;
}

/* footer-center */
.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* footer center-top */
.footer-center .center-top i{
    font-size: 1.1rem;
}

#play{
    font-size: 1.8rem;
}

/* footer center-bottom */

.footer-center .center-bottom div{
    display: inline-block;
}

.footer-center .center-bottom span{
    font-size: x-small;
}




